*.class
!test/sampleBin/echoserver/*.class

.idea/
Echo-Server-solution.iml

# Ignore the tmp directory that Aruba creates and puts all of its test
# files in.
test/tmp

# Ignore the tmp directory that Aruba creates and puts all of its test
# files in.
test/tmp

# Package Files #
*.jar
*.war
*.ear
/bin
